@import "../../../../styles/variables";

.filter {
  &--icon {
    position: absolute;
    right: 2%;
    top: 30%;
    zoom: .6;
  }

  &--close-icon {
    cursor: pointer;
  }
}

.sensors-card {
  &:hover {
    cursor: pointer;
  }

  &-subtitle--main {
    display: block;
  }

  &-content {
    margin-top: 5rem;
    color: $primaryCol;

    &-main {
      height: 3.5rem;

      &--icon {
        width: 5rem;
        height: 4rem;
        filter: $filterCol;
      }

      &--value {
        font-size: 3rem;
      }
    }

    &--symbol {
      height: 1.7rem;
      text-align: right;
    }
  }
}

.selected {
  background: #E0FFFF;
}
