<mat-card *ngIf="sensor" class="mat-elevation-z4 sensors-card"
          title="Select sensor"
          [class.selected]="sensor.id === selectedSensorId"
          (click)="selectSensor(sensor.id)">
  <mat-card-header>
    <mat-card-title>{{sensor.name}}</mat-card-title>
    <mat-card-subtitle>
      <span class="sensors-card-subtitle--main">{{sensor.path}}</span>
      <span>@{{sensor.lastUpdate | date: 'hh:mm'}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="sensors-card-content">
    <div class="sensors-card-content-main" fxLayout="row" fxLayoutAlign="space-between center">
      <img class="sensors-card-content-main--icon" [src]="'./../../../assets/' + sensor.image" alt="Sensor icon">
      <span class="sensors-card-content-main--value" matTooltip="{{sensor.value.length >= 20 ? sensor.value : ''}}">
            {{sensor.value | shorten: 20}}
          </span>
    </div>
    <div class="sensors-card-content--symbol">{{sensor.unitSymbol}}</div>
  </mat-card-content>
</mat-card>
