<h1>Card View</h1>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign.sm="center stretch" fxLayoutAlign="space-around stretch">
  <mat-form-field class="filter" fxFlex="30%" fxFlex.sm="100%">
    <mat-label>Filter by name, path, value or type</mat-label>
    <input type="text"
           matInput
           placeholder="Search"
           [(ngModel)]="searchValue">
    <mat-icon *ngIf="searchValue" class="filter--icon filter--close-icon" (click)="searchValue = ''">close</mat-icon>
    <mat-icon *ngIf="!searchValue" class="filter--icon">search</mat-icon>
  </mat-form-field>
  <mat-form-field class="filter" fxFlex="30%" fxFlex.sm="100%">
    <mat-label>Filter by type</mat-label>
    <mat-select [(ngModel)]="searchByType" (selectionChange)="onSelectDropdownItem($event)">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let type of typeDropdown" [value]="type"><span>{{type}}</span></mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="center stretch">
  <div fxFlex="40rem"
       fxFlex.xs="35rem"
       fxFlex.xs="100%"
       fxFlex.sm="50%"
       fxFlex.lt-md="0 1 calc(50% - 32px)"
       *ngFor="let sensor of sensors | filter: (searchValue || searchByType) : ['name', 'path', 'value', 'type']">
    <app-sensor-card [sensor]="sensor"
                     [isSelected]="sensor.id === selectedSensorId"
                     (selectedSensorId)="getSelectedSensor($event)">
    </app-sensor-card>
  </div>
</div>
