<h1>Grid View</h1>
<div class="sensor-table mat-elevation-z8">
  <div class="sensor-table-filter">
    <mat-form-field class="sensor-table-filter-form">
      <input [(ngModel)]="filterValue" matInput (keyup)="filterData(filterValue)" placeholder="Filter data">
      <mat-icon *ngIf="filterValue"
                matSuffix
                class="sensor-table-filter-form--icon"
                (click)="dataSource.filter = ''; filterValue = '';">clear</mat-icon>
    </mat-form-field>
  </div>
  <div gdAreas="table" gdColumns="100%!">
    <table class="sensor-table-content" mat-table matSort matSortDisableClear [dataSource]="dataSource" gdArea="table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let element">
          <img class="sensor-table-content--image" [src]="'./../../../assets/' + element.image" alt="Sensor icon">
         </td>
      </ng-container>
      <ng-container matColumnDef="path">
        <th mat-header-cell *matHeaderCellDef>Path</th>
        <td mat-cell *matCellDef="let element"> {{element.path}} </td>
      </ng-container>
      <ng-container matColumnDef="unitSymbol">
        <th mat-header-cell *matHeaderCellDef>Unit symbol</th>
        <td mat-cell *matCellDef="let element"> {{element.unitSymbol}} </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Value</th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
      </ng-container>
      <ng-container matColumnDef="lastUpdate">
        <th mat-header-cell *matHeaderCellDef >Last update </th>
        <td mat-cell *matCellDef="let element"> @{{element.lastUpdate | date: 'hh:mm'}} </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
    </table>
  </div>
  <mat-paginator showFirstLastButtons style="margin: 0 20px; width: 97%"
                 [length]="totalRecords"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]"
                 (page)="onPage($event)">
  </mat-paginator>
</div>
