// global variables

$primaryCol: #03B379;
$filterCol: invert(53%) sepia(32%) saturate(6709%) hue-rotate(131deg) brightness(97%) contrast(98%);
$error-message-col: #D8000C;
$error-message-bgCol: #f8d7da;
$success-col: #155724;
$success-bgCol: #d4edda;
$success-borderCol: #c3e6cb;
$error-message-borderCol: #f5c6cb;
$warn-col: #856404;
$warn-bgCol: #fff3cd;
$warn-borderCol: #ffeeba;
