@import "../../../../../styles/variables";

.sensors-card {
  transition: all .2s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    position: relative;
    z-index: 2;
  }

  &-subtitle--main {
    display: block;
  }

  &-content {
    margin-top: 5rem;
    color: $primaryCol;

    &-main {
      height: 3.5rem;

      &--icon {
        width: 5rem;
        height: 4rem;
        filter: $filterCol;
      }

      &--value {
        font-size: 3rem;
      }
    }

    &--symbol {
      height: 1.7rem;
      text-align: right;
    }
  }
}

.selected {
  transform: scale(1.03);
  background: linear-gradient(90deg, rgba(2,0,36,.1) 0%, rgba(68,112,241,0) 2%, rgba(0,212,255,0) 100%);
  border: 1px solid rgba(2,0,36,.5);
}
