@import "styles/variables";
@import "styles/common";

html {
  @include font-style(62.5%, 'Roboto');
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #eff4f7;
  font-size: 1.6rem;
}
